{{> header }}
{{#if mostrarFotos}}
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://revistaseguridad360.com/wp-content/uploads/2022/01/nube.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://www.eniun.com/wp-content/uploads/paginas-web-tecnologia-informatica-conocer.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://cdn.goconqr.com/uploads/media/image/33242840/desktop_d8a71414-d262-4f5f-9db9-11248601ac1a.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
{{else}}
    <div class="alert alert-info">Las fotos no están disponibles en este momento</div>
{{/if}}

{{> footer }}